<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mariage de Marie-Ève & Edward</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/syntax.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
	<script src="assets/js/convert.js"></script>

	<div class="master-content center-block">
		
		<div class="row">
			<div class="col-sm-3">
				<div class="navbar">
					{% include nav.html %}
				</div>
			</div>
			<div class="sub-content col-sm-7">
				{% include home.html %}
				{{ content }} 
			</div>
		</div>
	</div>
</body>


</html>
